.Particles{
    z-index: -1;
    background: #FFA17F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #00223E, rgb(116, 56, 35));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #00223E, rgb(134, 64, 39)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin: 0;
    padding: 0%;
}

@media (min-width: 850px) {
    .Particles{
        height: 100vh;
    }
}