
 .toolCont img {
    width: 60px;
}

.row{
    margin: 9vh auto;
}

.skillsEle {
    color: #444649;
    -webkit-transition: 0.1s all linear;
    -o-transition: 0.1s all linear;
    transition: 0.1s all linear;
    margin-top: 2vh;
    margin-bottom: 30vh;
  }
  .skillsEle h2 {
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 50px;
    padding: 0 40px;
    font-weight: bolder;
  }
  .skillsEle #skillsGrid {
    padding: 3% 0 8% 0;
  }
  .skillsEle #skillsGrid .ui.grid > .column:not(.row) {
    padding: 3em 0;
   
  }
  
  /* -------------------------------------------------------------------------- */
  /* Tooltipper  */
  .skillsEle .column .toolCont .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: rgba(27, 36, 47, 0.65);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 1px 0;
    position: absolute;
    z-index: 1;
    top: 65%;
    left: 50%;
    margin-left: -50px;
    -webkit-transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
    -o-transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  .skillsEle .column .toolCont .tooltiptext::after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(27, 36, 47, 0.65) transparent;
  }
  
  .skillsEle .column .toolCont:hover .tooltiptext {
    visibility: visible;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    top: 105%;
    -webkit-transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
    -o-transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
  }
  
  /* -------------------------------------------------------------------------- */
  
  .skillsEle .column .bottomGrids {
    padding: 10% 0 16% 0;
  }
  
  .skillsEle .titleEle {
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 3px;
    font-weight: bolder;
    margin: 0 auto 20px auto;
    width: 150px;
    line-height: 50px;
    background: #e8e8e8;
    border-radius: 4px;
  }
  
  .mobile{
    display: none;
  }
  @media (max-width: 769px) {
    .skillsEle h2 {
      font-size: 20px;
    }
    .column{
        display: none;
    }
    .toolCont{
       display: none;
    }
    .hover{
        display: none;
    }
    .mobile{
        display: block;
        background-color: transparent;
        
      }
    .mobile li{
        list-style: none;
        background-color: transparent;
        margin-top: 3vh;
    }
    .mobile img{
        width: 17vw;
        height: 12vh;
        margin: 1vh 1.5vw;
        padding: 0vh;
    }  
    #js{
        width: 22vw;
        height: 12vh;
    }
    #gql{
        width: 22vw;
        height: 12vh;
    }
    #docker{
        width: 22vw;
        height: 12vh;
    }

  }