
.page{
    position: relative;
    height: 50vh;
    width: 200vh;
    z-index: -1;
}

.iframeWrapper {
  padding-right: 10vh;
  margin-top: 8vh;
  margin-right: 4vh;
  position: relative;
  height: 40vh;
  width: 42vh;
  float: right;
  padding-bottom: 100%;
  z-index: +1;
}

.iframeWrapper .iframer {
  position: absolute;
  top: 2vh;
  left: 5%;
  width: 100%;
  height: 30%;
  border-radius: 10px;
  z-index: +1;
}


.animated-section{
  position: relative;
  margin-top: 4vh;
  margin-left: 2vh;
  height: 30vh;
  width: 25vh;
  
  z-index: 0;
  float: left;
  border-radius: 20%;
}
img{

width: 22vh;
height: 27vh;
border-radius: 20%;

}