

.load{position:relative;
    margin-top: 10vh;
    top:80%;left:50%;transform:translate(-50%, -50%);
  /*change these sizes to fit into your project*/
  width:50vh;
  height:10vh;
}
.load i{border:0;margin:0;width:40%;height:40%;position:absolute;border-radius:50%;animation:spin 2s ease infinite}

.load :first-child{background:rgb(3, 151, 40);animation-delay:-1.5s}
.load :nth-child(2){background:rgb(221, 7, 3);animation-delay:-1s}
.load :nth-child(3){background:rgb(249, 252, 75);animation-delay:-0.5s}
.load :last-child{background:rgb(23, 97, 235)}

.fa-mobile-alt{
    margin-top: 0 auto;
}
@keyframes spin{
  0%,100%{transform:translate(0)}
  25%{transform:translate(160%)}
  50%{transform:translate(160%, 160%)}
  75%{transform:translate(0, 160%)}
}