
.Navbar {
    width: 30vh;
    height: 100%;
    justify-items: center;
    margin-left: -5.9rem;
    margin-top: 10vh;
    position: fixed;
    font-family: 'Quicksand', sans-serif;
    z-index: +5;
}

.wp{
    margin-left: -3vh;
}

.link{
    font-size: 1vh;
    text-shadow: rgb(42, 43, 43, 1px);
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) );
    border-radius: 4px;
}

#email{
    margin-left: 2.5rem;
}
#Linkedin{
    margin-left: 0.8rem;
}
img{
    margin-left: 1.8rem;
    size: 1.3rem;
}
.whatsapp:hover{
    color: rgb(0, 168, 28);
    display: inline-block;
  }

.email:hover{
  color: rgb(255, 75, 75);
  display: inline-block;
}

.Github:hover{
    color: rgb(44, 43, 43);
    display: inline-block;
}

.LinkedIn:hover{
    color: rgb(21, 18, 168);
    display: inline-block;
    
}

.git:hover{
    margin-left: 5.2rem;
    transition: all 0.5s ease-in-out;
}

.linked:hover{
    margin-left: 5.2rem;
    transition: all 0.5s ease-in-out;
}

.mail:hover{
    margin-left: 5.2rem;
    transition: all 0.5s ease-in-out;
    transition: all 0.5s;
}

.wp:hover{
    transition: all 0.5s ease-in-out;
    transition: all 0.5s;
}



                               /* styling for Desktop screen */

@media (min-width: 850px) {
    .Navbar {
        width: 30vh;
        height: 30vh;
        margin-top: 25vh;
        margin-left: -13.9vh;
        
}


.link{
    font-size: 3vh;
    display: inline-block;
}

#email{
    margin-left: 6vh;
    margin-bottom: 10px;
    size: 4vh;
}
#Linkedin{
    margin-left: 2.2vh;
    margin-bottom: 10px;
    size: 4vh;
}
img{
    margin-left: 4.5vh;
    margin-bottom: 10px;
    size: 4vh;
}

.git:hover{
    margin-left: 12vh;
    transition: all 0.5s ease-in-out;
}
.LinkedIn:hover{
    margin-left: 0vh;
    transition: all 0.5s ease-in-out;
}
.mail:hover{
    margin-left: 12vh;
    transition: all 0.5s ease-in-out;
}
.wp{
    margin-left: -5.1vh;
}
.wp:hover{
    margin-left: 11.9vh;
    transition: all 0.5s ease-in-out;
    transition: all 0.5s;
}
}

@media (min-width: 1400px) {
    .LinkedIn:hover{
        margin-left: 4vh;
        transition: all 0.5s ease-in-out;
    }
    .git:hover{
        margin-left: 13vh;
        transition: all 0.5s ease-in-out;
    }
    .mail:hover{
        margin-left: 13vh;
        transition: all 0.5s ease-in-out;
    }
    .wp{
        margin-left: -3.4rem;
    }
    .wp:hover{
        margin-left: 6.5rem;
        transition: all 0.5s ease-in-out;
        transition: all 0.5s;
    }
}

@media (max-width: 850px) {
    .Navbar {
        width: 10vh;
        height: 30vh;
        margin-top: 25vh;
        margin-left: -14.9vh;
        
}

.link{
    font-size: 3vh;
    display: inline-block;
}

#email{
    margin-left: 6vh;
    margin-bottom: 10px;
    size: 4vh;
}
#Linkedin{
    margin-left: 2.2vh;
    margin-bottom: 10px;
    size: 4vh;
}
img{
    margin-left: 4.5vh;
    margin-bottom: 10px;
    size: 4vh;
}

.git:hover{
    margin-left: 13.4vh;
    transition: all 0.5s ease-in-out;
}
.LinkedIn:hover{
    margin-left: 0.7vh;
    transition: all 0.5s ease-in-out;
}
.mail:hover{
    margin-left: 13vh;
    transition: all 0.5s ease-in-out;
}
.wp{
    margin-left: -5vh;
}
.wp:hover{
    margin-left: 4.7rem;
    transition: all 0.5s ease-in-out;
    transition: all 0.5s;
}

}



@media (max-width: 450px) {
    .Navbar {
        width: 10vh;
        height: 30vh;
        margin-top: 25vh;
        margin-left: -14.9vh;
        
}
.link{
    font-size: 3vh;
    display: inline-block;
}

#email{
    margin-left: 6vh;
    margin-bottom: 10px;
    size: 4vh;
}
#Linkedin{
    margin-left: 2.2vh;
    margin-bottom: 10px;
    size: 4vh;
}
img{
    margin-left: 4.5vh;
    margin-bottom: 10px;
    size: 4vh;
}
.wp{
    margin-left: -9.95vw;
}
/* .git:hover{
    margin-left: 13.4vh;
    transition: all 0.5s ease-in-out;
}
.LinkedIn:hover{
    margin-left: 0.6vh;
    transition: all 0.5s ease-in-out;
}
.mail:hover{
    margin-left: 13vh;
    transition: all 0.5s ease-in-out;
} */

/* .wp:hover{
    margin-left: 4.5rem;
    transition: all 0.5s ease-in-out;
    transition: all 0.5s;
} */

}

